{% extends 'base.html' %}

{% block TITLE %}Create A New User{% endblock %}

{% block BODY %}

<h1 class="display1">Sign Up</h1>
<p>Please register below:</p>

<form method="POST">
    {{form.hidden_tag()}}
    
    {% for field in form if field.widget.input_type != 'hidden' %}
    <p>
        {{field.label}}
        {{field}}

        {% for error in field.errors %}
        {{error}}
        {% endfor %}
    </p>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Register</button>

</form>

{% endblock %}